<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Test</title>
    <meta name="viewport" content="width=480,user-scalable=no"/>
    <!--<meta name="apple-mobile-web-app-capable" content="yes"/>-->
    <!--<meta name="full-screen" content="yes"/>-->
    <!--<meta name="screen-orientation" content="portrait"/>-->
    <!--<meta name="x5-fullscreen" content="true"/>-->
    <!--<meta name="360-fullscreen" content="true"/>-->

    <style>
        body {
            text-align: center;
            background: #f2f6f8;
            padding: 0;
            border: 0;
            margin: 0;
        }
    </style>
</head>
<body>
<div style="display:inline-block;width:auto; margin: 0 auto; background: black; position:relative;">
    <canvas id="gameCanvas" width="[%canvas_width%]" height="[%canvas_width%]"></canvas>
</div>
<script src="cfg/Res.js"></script>
<script src="cfg/ResCfg.js"></script>
<script src="mo/src/mo.js"></script>
<script src="boot-html5.js"></script>
</body>
</html>
